# The equation to calculate the new value of a $1 investment with a 10% (0.10) return is $1 Ã— 1.10 = $1.10.

In [1]:
import pandas as pd
stock_xyz = pd.DataFrame({'close' : [11.25, 11.98, 10.74, 11.16, 12.35, 12.87, 13.03, 13.15, 13.50, 13.87]})

In [8]:
#calculate the daily return
stock_xyz.describe()

           close
count  10.000000
mean   12.390000
std     1.072111
min    10.740000
25%    11.432500
50%    12.610000
75%    13.120000
max    13.870000

In [3]:
# Calculate the cumulative returns using the 'cumprod()' function
cumulative_returns = (1 + stock_xyz).cumprod()
cumulative_returns.head()

           close
0      12.250000
1     159.005000
2    1866.718700
3   22699.299392
4  303035.646883